.MorseToText input[type="text"] {
  font-family: var(--font-monospaced);
}

.output {
  font-family: var(--font-monospaced);
  text-align: center;
}

.outputSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.outputSection p {
  display: block;
  width: 100%;
}
