.App {
  width: 50vw;
  max-width: 500px;
  padding: 30px;
  margin: 50px auto;
  border: 2px solid rgb(194, 194, 194);
  background-color: white;
  box-shadow: 0 2px 20px 0 #000;
}

.App h1 {
  text-align: center;
}

.App input[type="text"] {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(192, 192, 192);
  box-shadow: inset 4px 4px 8px -8px rgba(0, 0, 0, 0.75);
}

.App input[type="text"]:focus {
  outline: none;
  border: 2px solid teal;
  /*background: teal;*/
  color: var(--light-grey);
  /*box-shadow: none;*/
  box-shadow: inset 4px 4px 8px -8px rgba(0, 0, 0, 0.9);
}

.App ::placeholder {
  color: var(--light-grey);
}

.App .output {
  font-family: "Major Mono Display", monospace;
  text-align: center;
}
