@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Major+Mono+Display&display=swap");

:root {
  --color1: #d97386;
  --color2: #1f3a40;
  --color3: #a65851;
  --color4: #f2b6b6;
  --color5: #f2f2f2;

  --grey1: hsl(191, 0%, 19%);
  --grey2: hsl(5, 0%, 48%);
  --grey3: hsl(5, 0%, 80%);

  --font-monospaced: "Major Mono Display", monospace;
}

body {
  margin: 0;
  font-family: "Cinzel", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.unsplash.com/photo-1510442650500-93217e634e4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  color: var(--color2);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color3);
}

svg {
  height: 32px;
  width: auto;
  color: var(--color3);
}
